.navbar {
  background: black;
  
}

.navbarTitle{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .06em;
  font-size: x-large;
  color: white !important;
}
.navbarTitle:hover{
  color:#fdd835 !important;
}

.navbarLink{
  text-transform: uppercase;
  font-size: larger;
  color: white !important;
}

.navbarLink:hover{
  color: #fdd835 !important;
}

.page{
  margin-top: 5%;
}
.post{
  width: 60%;
  margin-bottom: 8%;
  margin-left:28%;
}
.postButton{
  background: transparent !important;
  border-color: #fdd835 !important;
  font-weight: bold;
}
.postButton:hover{
  background: #fdd835 !important;
  color:black !important
}

.filterButton{
  color:white !important;
  font-size:1.2em;
  padding:0;
  text-decoration: none !important;
}

.filterButton:hover{
  text-decoration: none !important;
  color:#fdd835 !important;
}
.filterButton:active{
  text-decoration: none !important;
}
.filterButton:visited{
  text-decoration: none !important;

}

.accountButton{
  background: #fdd835 !important;
  border-color: transparent!important;
  font-weight: bold;
  color: black;
}

.accountButton:hover{
  background: transparent !important;
  border-color: #fdd835!important;
  font-weight: bold;
  color: white;
}

.accountSignup{
  color:#fdd835;
  text-decoration: underline;
}

.accountSignup:hover{
  color:white;
}

.calendarBlock{
  width:100%;
  padding:1%;
}

.calendarBlockOverlay {
  position: absolute;
  bottom: 15%;
  right: 10%;

  background-color: black;
  color: white;
  opacity: 60%;
  font-weight: bold;
  font-size: larger;
  padding:2%;
  width:30%;
}

.blogBlockImg{
  width:100%;
}

.blogBlockOverlay {
  position: absolute;
  bottom: 0%;
  left: 0%;

  background-color: black;
  color: white;

  font-weight: bold;
  font-size: larger;
  padding:3%;
  width:30%;
}