.navbar {
  background: black;
  
}

.navbarTitle{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .06em;
  font-size: x-large;
  color: white !important;
}
.navbarTitle:hover{
  color:#fdd835 !important;
}

.navbarLink{
  text-transform: uppercase;
  font-size: larger;
  color: white !important;
}

.navbarLink:hover{
  color: #fdd835 !important;
}

.page{
  margin-top: 5%;
}
.post{
  width: 60%;
  margin-bottom: 8%;
  margin-left:28%;
}
.postButton{
  background: transparent !important;
  border-color: #fdd835 !important;
  font-weight: bold;
}
.postButton:hover{
  background: #fdd835 !important;
  color:black !important
}

.filterButton{
  color:white !important;
  font-size:1.2em;
  padding:0;
  text-decoration: none !important;
}

.filterButton:hover{
  text-decoration: none !important;
  color:#fdd835 !important;
}
.filterButton:active{
  text-decoration: none !important;
}
.filterButton:visited{
  text-decoration: none !important;

}